# common.env

# EI FQDN, user, password
EI_FQDN=""
EI_USER=""
EI_PASSWORD=""

#######################
# SMTP Configuration
#######################
SMTP_SERVER=""
SMTP_PORT="25"
SMTP_USERNAME=""
SMTP_PASSWORD="None"
SMTP_FROM_DOMAIN=""

#######################
# ServiceNow Configuration
#######################
SN_API_USER=""
SN_API_PASSWORD=""
# The instance URL is unique to each organization
SN_INSTANCE=""
SN_BUSINESS_HOURS_START_TIME="08:00:00"
SN_BUSINESS_HOURS_END_TIME="17:00:00"